{% extends 'base.html' %}

{% block content %}

<h2>
  {{ history_pages|default:"🍪Cowsay History🍪" }}
</h2>

<!-- History Page
- list of ten most recent inputs (oldest at bottom, most recent at top)
- Displays the cow selected for that recent input message
-->

<p>
  <strong>Last Ten Recent Cow_Says:</strong>
</p>
<hr />

<!--
<pre>{{ process }}</pre>
-->
<ul>
    {% for item in history %}

      <li>{{ item.date }}</li>
      <p>***{{ item.text_line }}***</p>
      <br />
      <p>{{ item.cowsay_type }}</p>
      <pre>{{ process }}</pre>

    {% endfor %}
</ul>

{% endblock %}