{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<h2>
  {{ homepages|default:"🐄Cowsay Home🐄" }}
</h2>

<p>
  <strong>What does the Cow_Say?</strong> <br />
</p>
<!--
  - On the homepage, include a dropdown of options for the ASCII cow that
  is displayed:
      - default (this is the default cow)
      - tux
      - dragon
      - kitty
      - skeleton

  - On the homepage, default the selection to the default cow and render
  the page with a cow that says "Welcome".
-->
<p><strong>{{ reload_message }}</strong></p>
<pre>{{ process }}</pre>

<form action="" method="POST" class="form">

    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% comment %} {{ form.as_p }} {% endcomment %}

    {% buttons %}
    <button type="submit" class="btn btn-secondary">
      Submit
    </button>
    {% endbuttons %}

</form>

{% endblock %}

<!--
 - After submitting the form, set a COOKIE on the request that saves the
  default as the one selected. 

  - When the page is reloaded, the page renders, "Welcome back"
  (but does not display the message on first visit) with the previously 
  selected cow option (set by the COOKIE). 
-->
